<app-nav-bar></app-nav-bar>

<div class="container">
    <mdb-card id="debt-card">
        <mdb-card-body>
            <div class="row">
                Total amount to give/receive
            </div>
            <div class="row">
                <div class="col-6">
                    People who owe you
                </div>
                <div class="col-6">
                    People you owe to
                </div>
            </div>
        </mdb-card-body>
    </mdb-card>
</div>

<app-footer></app-footer>