<app-nav-bar></app-nav-bar>

<div class="container" style="padding-top:10px ; max-width: 50%">
    <mdb-card>
        <mdb-card-body>
            <form class="text-center" [formGroup]="createGroupform" (ngSubmit)="onSubmit()">
            
                <p class="h4 mb-4">Create Group</p>

                <input type="text" class="form-control mb-4" placeholder="Group Name" formControlName="groupName">

                <input type="text" class="form-control mb-4" placeholder="Participants" formControlName="participants">

                <div style="display: flex;justify-content: center;">
                    <button mdbBtn color="info" block="true" class="my-4" type="submit" style="width: 25%">Create Group</button>
                </div>
            </form>
        </mdb-card-body>
    </mdb-card>
</div>

<app-footer></app-footer>
