.container{
    padding-top:20px ;
    width: 75%;
}

#main-group-section {
    min-height: 50%;
}

#group-card{
    width: 80%;
}

#user-amount{
    display: flex;
    justify-content: center;
}

#total-bill-amount{
    display: inline;
    justify-content: center;
}

#main-bill-section {
    display: flex;
    justify-content: center;
}

.green-text{
    color: green;
}